body
{
	background-color : #FAFAFA;
}

.footer {
	background-color: #c1bfff;
	position:absolute;
   /* bottom:0; */
   width:100%;
   height:180px;
}

.footer-center
{
	text-align: center;
}
.nav-top
{
	text-align: center;
}
