body
{
	background-color : #FAFAFA;
}
#compte {
	margin-left:  1000px;
	margin-top: -330px;
}
.creation {
	margin-left: 100px;
}
h2 {
	text-align: center;
}
.footer {
	background-color: #c1bfff;
	clear:both;
	position: absolute;
	right: 0;
  	bottom: 0;
  	left: 0;
	padding: 2rem;
}
.footer-center {
	text-align: center;
}
